$turquesa: #02E7D9;
$cinza: #C4C4C4;
$bg-cinza: #F2F2F2;
$sub-title-size: 2.3em;
$text-size: 1.5em;
$breakpoint-tablet: 1170px;
$breakpoint-phone:  920px;
$breakpoint-smallphone: 742px;
$breakpoint-smallscreen: 576px;
$breakpoint-column-cards: 958px;