$turquesa: #02E7D9;
$cinza: #C4C4C4;
$bg-cinza: #F2F2F2;
$sub-title-size: 2.3em;
$text-size: 1.5em;
$breakpoint-extra-large: 1140px;
$breakpoint-large:  960px;
$breakpoint-medium: 720px;
$breakpoint-small: 540px;
$breakpoint-column-cards: 958px;